/* rgb(255,220, 0) = yellow
   rgb(26, 35, 126) = Dark-blue
   rgb(0, 0, 0) = white
   */
.backgroundColor {
background-color: rgb(255, 220, 0);
}
body {
/* This incorporates the google font */
font-family: 'Dancing Script', cursive;
}
.title {
text-align: center;
color: rgb(26, 35, 126);
}
.description, .date{
text-align: center;
line-height: 1.6;
color: rgb(26, 35, 126);
font-weight: bold;
font-size: 24px;
}
.nav-wrapper{
background-color: rgb(26, 35, 126);
}
.displayName {
text-align: center;
}


