<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Import selected dancing script font-->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Import Custom Css-->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <!-- Loading Jquery at the top for the Drop down -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
</head>
<body class="backgroundColor">
{% block content %}
{% if user.is_authenticated %}
{% include 'base2.html' %}
<!--<h3 class="displayName">Welcome {{user.get_username}}</h3>-->
{% else %}
{% include 'base.html' %}
{% endif %}
{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}
<h3 class="title">Login Page</h3>
{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</body>
{% include 'footer.html' %}

<!--<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}