<footer class="page-footer #004a8f indigo darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Same Links Provided Here</h5>
                <p class="grey-text text-lighten-4">The same links that are at the top are also provided here to fill space</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{% url 'tausite:home' %}">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'tausite:Announcement List' %}">List of Announcements</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'tausite:image_upload' %}">Picture Upload</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'tausite:picture_images' %}">View Pictures</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'tausite:interviews' %}">Interviews</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 Copyright Text
            <a class="grey-text text-lighten-4 right" href="https://www.linkedin.com/in/christian-aborbie-a47302121/">Contact Me</a>
        </div>
    </div>
</footer>
